.navbar div{
    justify-content: right;
}

.header-nav {
    display: flex;
    background-color: #eb8e28;
}

#header-quote {
    margin: auto;
}

.header-image {
    background-image: url('../images/main.jpg');
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.full-width {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.user-image {
    height: 200px;
    width: 200px;
    justify-content: center;
    margin: auto;
}

.user-image img{
    height: auto;
    width: 100%;
}

.display-right {
    text-align: right;
}