@import url("https://fontsforyou.com/fonts/a/Andalus.ttf");

html {
    height: 100%;
}

.font {
    font-family: 'Times New Roman', Times, serif;
}

#header-title {
    font-size: 48px;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.navbar-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 1rem;
}

.navbar-brand {
    width: 50%;
}

.navbar-brand p {
    font-size: 12px;
}

.navbar-menu div{
    justify-content: right;
}

.small-toggle {
    display: none;
}

.navbar-toggle {
    display: none;
}

.header-nav {
    display: flex;
    background-color: #364f78;
}

.header-nav button {
    border-radius: 5px;
    border: 2px solid black;
}

.small-contact {
    display: none;
    text-align: right;
}

.header-right {
    justify-content: right;
    text-decoration: none;
}

#header-quote {
    margin: auto;
    color: white;
}

.header-image {
    background-image: url('../images/van.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 2px;
    background-size: cover;
}

.full-width {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.small-images {
    display: none;
}

.images {
    display: flex;
}

.whoimages {
    border: solid 2px white;
}

.more {
    border: none;
    background-color: white;
    color: red;
}

.user-image-one {
    background-image: url('../images/who.jpg');
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border: solid 2px white;
}

#red-subscript {
    color: red;
}

.subsize {
    font-size: 22px;
}

.display-right {
    text-align: right;
}

.strip {
    height: 20px;
    background-color: #364f78;
    margin-top: 2px;
    margin-bottom: 2px;
}

.boiler-image {
    background-image: url('../images/mainimage.jpeg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border: solid 2px white;
}

.center-text h3 {
    text-align: center;
}

.service {
    color: white;
    background-color: #39414f9e;
    padding: 2px;
    text-align: center;
}

#service-one {
    background-image: url('../images/gasapplianceservicing.jpg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border: solid 2px white;
    padding: 0;
}

#service-one-text {
    color: white;
    display: none;
}

#service-two {
    background-image: url('../images/statutorytesting.jpg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border: solid 2px white;
    padding: 0;
}

#service-two-text {
    color: white;
    display: none;
}

#service-three {
    background-image: url('../images/heatingsystems.jpg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border: solid 2px white;
    padding: 0;
}

#service-three-text {
    color: white;
    display: none;
}

#service-four {
    background-image: url('../images/plumbing.jpg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border: solid 2px white;
    padding: 0;
}

#service-four-text {
    color: white;
    display: none;
}

#service-five {
    background-image: url('../images/reactive.jpg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border: solid 2px white;
    padding: 0;
}

#service-five-text {
    color: white;
    display: none;
}

#service-six {
    background-image: url('../images/survey.jpg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border: solid 2px white;
    padding: 0;
}

#service-six-text {
    color: white;
    display: none;
}

.school-logo img{
    height: 80px;
    width: auto;
}

.border-review {
    border-left: solid 2px #364f78;
}

.footer-quote button {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
}

.footer-quote {
    text-align: center;
}

.footer-list a {
    display: inline-block;
    text-decoration: none;
}

.footer-list a:hover {
    color: white;
}

.gold {
    color: #d8d826;
}

.footer-list li {
    list-style: none;
}

.footer-list {
    padding-left: 0;
}

.footer-text {
    color: white;
}

.icons ul {
    padding: 0;
}

.icons li {
    display: inline;
    padding: 10px;
}

.icons li i {
    color: white;
    font-size: 20px;
}

.footer-background {
    height: auto;
    background-color: #364f78;
}

/*..................................................Media Queries*/

@media(max-width: 992px) {
    .navbar-toggle {
        display: block;
        width: 35%;
        justify-content: right;
        text-align: right;
        float: right;
    }
}

@media(max-width: 743px) {
    .small-contact {
        display: block;
    }
    .big-contact {
        display: none;
    }
}

@media (max-width: 768px) {
    .large-images {
        display: none;
    }
    .small-images {
        display: block;
    }
    .footer-socials {
        justify-content: center;
        text-align: center;
        padding-bottom: 5px;
    }
    .small-review {
        display: none;
    }
}

@media (max-width: 595px) {
    .navbar-toggle {
        width: 30%;
    }
}

@media (max-width: 576px) {
    .small-none {
        display: none;
    }
    .contact-footer {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .large-toggle {
        display: none;
    }
    .small-toggle {
        display: block;
    }
    .navbar-toggler-small {
        background-color: white;
        color: rgba(0,0,0,.5);
        border: solid 1px rgba(0,0,0,.5);
        border-radius: 5px;
    }
    .header-image {
        height: 250px;
    }
}

@media (max-width: 459px) {
    .navbar-brand p {
        font-size: 10px;
    }
}